body {
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "Uniform.ttf";
    src: url(./starter_exo_fin_module_3/assets/fonts/Uniform.ttf);
}

header {
    background-color: #186cb0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Uniform.ttf";
}

.titre h1 {
    margin: 0;
    margin-left: 30px;
    font-size: 16px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin-left: 20px;
    padding-top: 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
nav ul li a img {
    position: relative;
    bottom: 20px;
    right: 60px;
    width: 20px; 
    height: 20px; 
    padding-bottom: 5px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    position: relative;
    top: 10px;
    width: 75%; 
    margin: auto;
}

img {
    width: 100%; /* Pour s'assurer que l'image remplit son conteneur */
    display: block;
}

.concour {
    position: absolute;
    left: 1100px;
    top: 180px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: solid black 1px;
    background-color: black;
    opacity: 0.55;
}

.loterie {
    color: white;
}

.bouton {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section {
    width: 55%;
    background-color: #186cb0;
    text-align: center;
    color: white;
    margin-left: 0;
    position: relative;
    top: 15px;
    height: 30px;

}
h3{
    position: relative;
    bottom: 15px;
    color: #ffffff;
}

.section:hover {
    background-color: rgb(124, 121, 121);
}
#tarifs{
        margin-right: 19px;
}
#mod-couleur{
    color: #186cb0;
    
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cellule {
    width: 97%; /* 3/4 de la largeur */
    background-color: #f2f2f2; /* Gris clair */
    margin: 0 auto; /* Centrer la cellule horizontalement */
    padding: 10px; /* Ajouter un peu de marge intérieure */
    overflow: hidden; /* Empêcher que le contenu dépasse */
  }

  .texte-gauche {
    float: left; /* Aligner le texte à gauche */
  }

  .texte-droite {
    float: right; /* Aligner le texte à droite */
  }

  /* Style du texte */
  .texte {
    color: #000; /* Noir */
  }
h2{
    color: #186cb0;
}
#global{
    background-color: #ececec;
}
#formateur{
    margin-left: 5px;
    height: 100px;
    width: 80px;
}
#le-formateur{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#comedie{
    margin-right: 700px;
}
#logotv{
    height: 20px;
    width: 20px;
    margin: auto;
}
#salle{
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-around;
    width: 100%;

}
#colonne{
    display: flex;
    flex-direction: column;
    background-color: #186cb0;
    width: 10%;
    position: relative;
    right: 100px;
    text-align: center;

}
#logotvv{
    height: 20px;
    width: 20px;
    margin: auto;
}
#colonne2{
    background-color: #186cb0;
    width: 10%;
    position: relative;
    right: 300px;
    text-align: center;
}
#colonne3{
    background-color: #186cb0;
    width: 50%;
    text-align: center;
    position: relative;
    right: 500px;
}






@media only screen and (max-width: 480px) {
    nav ul li:last-child {
        display: none; 
    }

    nav ul li {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    nav ul li:last-child {
        display: none; 
    }
}